<template>
  <div class="bg-secondary py-0.5">
    <div class="container mx-auto flex items-center gap-x-2">
      <div
        class="lg:flex-[1.5] flex-[1] flex items-center bg-white py-1.5 md:py-[0.8rem] px-4 rounded-lg gap-x-2 border-gray-400 border-[1px]"
      >
        <NuxtImg src="/assets/vector/search.svg" class="w-5 h-5" />
        <input
          type="text"
          placeholder="Bumi Perkemahan Ledok Ombo"
          class="border-2 border-transparent focus:border-b-black/45 outline-none w-full placeholder-primary-grey placeholder:text-sm"
        />
      </div>
      <div
        class="flex-[2] hidden md:flex items-center divide-x border-gray-400 border-[1px] divide-gray-400 rounded-md"
      >
        <ClientOnly>
          <VueDatePicker
            v-model="date"
            class="flex-1 block h-full"
            :min-date="new Date()"
          >
            <template #trigger>
              <CalenderButton
                class="!rounded-r-none h-full"
                :date="`${convertedDate?.day}  ${breakPoints.smallerOrEqual('xl').value ? convertedDate?.month.short : convertedDate?.month.long} ${convertedDate?.year}`"
                :day-week="convertedDate?.dayweek || ''"
              />
            </template>
          </VueDatePicker>
          <VueDatePicker
            v-model="date"
            class="flex-1 h-full block"
            :min-date="new Date()"
          >
            <template #trigger>
              <CalenderButton
                class="!rounded-l-none !h-full"
                date="11 Mei 2023"
                day-week="Rabu"
              />
            </template>
          </VueDatePicker>
        </ClientOnly>
      </div>
      <div class="md:flex-1 md:block hidden flex-none">
        <AdultNumberCounter
          :dewasa-count="dewasaCount"
          @update-adult-count="updateAdultCount"
        />
      </div>
      <button class="bg-primary text-white py-2.5 flex-[0.5] md:block hidden">
        Update
      </button>
      <div class="md:hidden block">
        <DialogFilter />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { breakpointsTailwind } from '@vueuse/core'

const dewasaCount = ref(1)
const date = ref(new Date())
const breakPoints = useBreakpoints(breakpointsTailwind)
const convertedDate = ref<
  | {
      day: number
      month: {
        short: string
        long: string
      }
      year: number
      dayweek: string
    }
  | undefined
>()
provide('headfield-provider', {
  date,
  convertedDate,
  updateAdultCount,
  dewasaCount
})
watch(
  date,
  (prev, old) => {
    const { day, month, year, dayweek } = extractDate(prev)
    convertedDate.value = { day, month, year, dayweek }
  },
  {
    immediate: true
  }
)
function extractDate(date: Date) {
  const day = date.getDate()
  const month = {
    long: date.toLocaleDateString('id-ID', { month: 'long' }),
    short: date.toLocaleDateString('id-ID', { month: 'short' })
  }
  const year = date.getFullYear()
  const dayweek = date.toLocaleDateString('id-ID', { weekday: 'long' })
  return { day, month, year, dayweek }
}
function updateAdultCount(count: number) {
  if (count > 0 && count < 6) {
    dewasaCount.value = count
  }
}
</script>
