<template>
  <div class="flex items-center justify-between">
    <NavigationSidebar />
    <NuxtLink href="/">
      <NuxtImg
        class="w-[116px] h-[15px] object-cover"
        src="/assets/vector/logo.svg"
      />
    </NuxtLink>
    <div class="md:block hidden">
      <NavigationTop />
    </div>
    <button id="hum" class="block md:hidden" @click="toggleSidebar">
      <Icon name="iconamoon:menu-burger-horizontal-bold" class="text-3xl" />
    </button>
  </div>
</template>
<script setup lang="ts">
const { toggleSidebar } = inject('sidebar') as { toggleSidebar: any }
</script>
<style scoped lang="postcss">
nav a {
  @apply text-primary-grey text-sm;
}
</style>
