<template>
  <div class="flex items-center flex-wrap justify-end md:gap-x-4 sm:gap-x-2 gap-x-1">
    <NuxtLink
      target="_blank"
      href="https://google.com"
      class="flex items-center"
    >
      <span class="text-primary-grey md:text-base sm:text-sm text-xs w-max mb-0 h-full">
        Jadi Mitra KemahAja
      </span>
      <i>
        <NuxtImg src="/assets/vector/arrow.svg" class="w-3 h-3" />
      </i>
    </NuxtLink>
    <span class="hidden sm:inline text-[#CFCFCF] text-sm"> | </span>
    <button class="flex gap-x-0 sm:gap-x-2 items-center">
      <NuxtImg src="/assets/vector/globe.svg" />
      <span>
        <select class="text-sm">
          <option value="id" selected>ID</option>
          <option value="en">EN</option>
        </select>
      </span>
    </button>
    <button>
      <NuxtImg src="/assets/vector/bell.svg" />
    </button>
    <button>
      <NuxtImg src="/assets/vector/mail.svg" />
    </button>
  </div>
</template>

<style scoped lang="postcss">
span select {
  @apply text-primary-grey;
}
img {
  @apply w-[20px] h-[20px];
}
</style>
