<template>
  <div class="flex flex-col gap-y-2 lg:gap-y-4">
    <div class="flex items-center gap-x-5 flex-wrap">
      <span class="font-bold text-[#868686]">{{ props.rating }}.0</span>
      <DetailStarContainer :star-count="props.rating" />
      <span class="text-[#868686] mt-2 sm:mt-0 text-sm md:text-base">{{
        props.recomendStatus
      }}</span>
    </div>
    <figure>
      <div class="flex gap-x-2">
        <NuxtImg :src="props.profilePic" class="rounded-full h-16 w-16" />
        <div class="flex flex-col justify-around">
          <span
            class="flex items-center md:gap-x-2 gap-x-0.5 md:text-base text-sm"
          >
            <NuxtImg
              src="/assets/vector/detail/person.svg"
              class="md:w-6 w-5 h-5 md:h-6"
            />
            {{ props.name }}
          </span>
          <span
            class="flex items-center md:gap-x-2 gap-x-0.5 md:text-base text-sm"
          >
            <NuxtImg
              src="/assets/vector/detail/camp.svg"
              class="md:w-6 w-5 h-5 md:h-6"
            />
            {{ props.statusTraveler }}
          </span>
        </div>
      </div>
      <div class="flex items-center gap-x-3 mt-3 flex-wrap">
        <span class="text-[#9E9E9E] md:text-base text-sm">Pilihan Paket :</span>
        <span class="flex items-center gap-x-1 md:text-base text-sm">
          <NuxtImg src="/assets/vector/detail/campfire.svg" class="h-5 w-5" />
          <p>{{ props.pickedPacket }}</p>
        </span>
      </div>
      <figcaption class="mt-3">
        <p class="text-sm md:text-base">{{ props.comment }}</p>
      </figcaption>
    </figure>
    <div class="flex-wrap gap-2.5 sm:gap-4 md:gap-x-5 flex">
      <div
        v-for="item in props.imagesUrl"
        :key="item"
        class="rounded-lg overflow-clip h-20 w-20"
      >
        <NuxtImg :src="item" class="w-full h-full" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
interface UlasanPengunjungType {
  rating: number
  recomendStatus: string
  name: string
  statusTraveler: string
  pickedPacket: string
  comment: string
  profilePic: string
  imagesUrl: string[]
}
const props = defineProps<UlasanPengunjungType>()
</script>

<style scoped>
p,
span {
  margin-bottom: 0;
}
</style>
