<template>
  <button type="button" @click="openModal">
    <Icon name="mdi:filter" class="text-primary text-3xl" />
  </button>
  <ClientOnly>
    <TransitionRoot appear :show="isOpen" as="template">
      <Dialog as="div" class="relative z-10" @close="closeModal">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black/25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full max-w-md transform rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all"
              >
                <DialogTitle
                  as="h3"
                  class="text-lg font-medium leading-6 text-gray-900"
                >
                  Filter Pencarian
                </DialogTitle>
                <div class="mt-2 flex flex-col gap-y-2">
                  <div
                    class="flex-[2] md:hidden flex items-center divide-x border-gray-400 border-[1px] divide-gray-400 rounded-md"
                  >
                    <VueDatePicker
                      v-model="date"
                      class="flex-1 block h-full"
                      :min-date="new Date()"
                    >
                      <template #trigger>
                        <CalenderButton
                          class="!rounded-r-none h-full"
                          :date="`${convertedDate?.day}   ${convertedDate?.month.long} ${convertedDate?.year}`"
                          :day-week="convertedDate?.dayweek || ''"
                        />
                      </template>
                    </VueDatePicker>
                    <VueDatePicker
                      v-model="date"
                      class="flex-1 h-full block"
                      :min-date="new Date()"
                    >
                      <template #trigger>
                        <CalenderButton
                          class="!rounded-l-none !h-full"
                          :date="`${convertedDate?.day}  ${convertedDate?.month.long} ${convertedDate?.year}`"
                          :day-week="convertedDate?.dayweek || ''"
                        />
                      </template>
                    </VueDatePicker>
                  </div>
                  <AdultNumberCounter
                    :dewasa-count="dewasaCount"
                    @update-adult-count="updateAdultCount"
                  />
                </div>

                <div class="mt-4">
                  <button
                    type="button"
                    class="bg-primary text-white py-2 flex-[0.5] w-full"
                    @click="closeModal"
                  >
                    Update
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </ClientOnly>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle
} from '@headlessui/vue'

const isOpen = ref(false)

function closeModal() {
  isOpen.value = false
}
function openModal() {
  isOpen.value = true
}
const { date, convertedDate, updateAdultCount, dewasaCount } = inject(
  'headfield-provider'
) as {
  date: any
  convertedDate: any
  updateAdultCount: any
  dewasaCount: any
}
</script>
