<template>
  <slot :open-modal="openModal" name="btn">
    <button
      type="button"
      class="rounded-lg p-2.5 right-3 bottom-6 md:bottom-3 absolute bg-[#B9B6B6CC]"
      @click="openModal"
    >
      <span class="flex items-center gap-x-2">
        <div class="bg-[#D9D9D9] md:h-5 h-3 w-4 md:w-6"></div>
        <p class="text-white md:text-base text-sm">Lihat semua foto</p>
      </span>
    </button>
  </slot>

  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" class="relative z-10" @close="closeModal">
      <TransitionChild
        as="template"
        enter="duration-300 ease-out"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="duration-200 ease-in"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-black/25" />
      </TransitionChild>

      <div class="fixed inset-0 overflow-y-auto">
        <div
          class="flex min-h-full items-center justify-center p-4 text-center"
        >
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <DialogPanel
              class="w-full xl:max-w-4xl md:max-w-3xl max-w-2xl transform bg-white p-1 text-left align-middle shadow-xl transition-all"
            >
              <div class="flex flex-col gap-y-2">
                <section class="relative">
                  <button  class="absolute bg-cyan-800/95 rounded-full p-1 z-30 -right-4 -top-4" @click="closeModal">
                    <Icon class="text-white text-xl sm:text-2xl  md:text-3xl" name="mingcute:close-line" />
                  </button>
                  <button
                    class="after:!content-none z-50 bg-white px-1 py-0.5 md:!top-[53%] !top-[60%] -translate-y-[50%] swiper-button-prev"
                  >
                    <NuxtImg
                      class="w-6 h-10"
                      src="/assets/vector/left-arrow.svg"
                    />
                  </button>
                  <button
                    class="z-50 after:!content-none bg-white px-1 py-0.5 !top-[60%] md:!top-[53%] -translate-y-[50%] swiper-button-next"
                  >
                    <NuxtImg
                      class="w-6 h-10"
                      src="/assets/vector/right-arrow.svg"
                    />
                  </button>
                  <Swiper
                    :slides-per-view="1"
                    :navigation="{
                      nextEl: '.swiper-button-next',
                      prevEl: '.swiper-button-prev'
                    }"
                    :loop="true"
                    :space-between="10"
                  >
                    <SwiperSlide v-for="item in imgUrl" :key="item">
                      <NuxtImg :src="item" />
                    </SwiperSlide>
                  </Swiper>
                </section>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel
} from '@headlessui/vue'

const isOpen = ref(false)

defineProps<{ imgUrl: string[] }>()

function closeModal() {
  isOpen.value = false
}
function openModal() {
  isOpen.value = true
}
</script>
<style scoped lang="postcss">
span,
p {
  @apply mb-0;
}
</style>
