<template>
  <div>
    <h3 class="text-base mb-0 sm:text-lg text-center md:text-start font-semibold">
      <slot name="title"></slot>
    </h3>
    <ul class="flex flex-col gap-y-3 mb-0 mt-1 sm:mt-3">
      <slot name="list"></slot>
    </ul>
  </div>
</template>
