<template>
  <button
    class="rounded-full border-[1px] px-3 sm:px-4 md:px-5 py-1.5 sm:py-2 gap-x-2 items-center flex"
  >
    <slot name="img"></slot>
    <slot name="text">View</slot>
  </button>
</template>
