<template>
  <section class="py-5 md:py-7 lg:py-10">
    <h2 class="text-2xl lg:text-3xl font-semibold text-center lg:text-start">
      Camping Ground Sekitar Sini
    </h2>
    <CampingSliderCardContainer />
  </section>
</template>

<script lang="ts" setup></script>

<style></style>
