<template>
  <li
    class="px-3 py-1.5 md:py-2 lg:py-4 border-b-[1.5px]"
    :class="{
      'border-b-[#CDD5D8]': !props.isActive,
      'border-b-transparent': props.isActive
    }"
  >
    <button
      class="flex items-center justify-between gap-x-5 w-full"
      @click="emits('handle-click', props.index)"
    >
      <p
        :class="{ 'font-bold': props.isActive }"
        class="text-center md:text-base text-sm sm:text-start flex-1"
      >
        {{ props.question }}
      </p>
      <NuxtImg
        src="/assets/vector/detail/arrow-down.svg"
        class="w-4 h-4 transition-all duration-300"
        :class="{ 'rotate-180': props.isActive }"
      />
    </button>
    <Transition>
      <p
        v-if="props.isActive"
        class="block mt-2 md:mt-4 lg:mt-5 text-sm sm:text-base text-center sm:text-start"
      >
        {{ props.answer }}
      </p>
    </Transition>
  </li>
</template>

<script lang="ts" setup>
interface QuestionsAnswerType {
  id: number
  question: string
  answer: string
}

const emits = defineEmits<{ (el: 'handle-click', index: number): void }>()
const props = defineProps<
  QuestionsAnswerType & { isActive: boolean; index: number }
>()
</script>

<style scoped>
p,
span {
  margin-bottom: 0;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.3s ease-in-out;
  max-height: 500px;
}

.v-enter-from,
.v-leave-to {
  height: fit-content;
  max-height: 0;
}

.v-enter-to,
.v-leave-from {
  height: fit-content;
  max-height: 500px;
}
</style>
