<template>
  <section class="pt-0 xs:pt-3 sm:pt-5 md:pt-8 lg:pt-10">
    <h2 class="text-2xl sm:text-3xl">Fasilitas</h2>
    <div
      class="mt-1 xs:mt-2 md:mt-3 flex sm:items-center sm:flex-row flex-col gap-y-2.5 xs:gap-y-4"
    >
      <div class="sm:w-[40%] w-full">
        <h3>Fasilitas Perkemahan</h3>
        <ul class="mt-0 xs:mt-0.5 sm:mt-2">
          <li
            v-for="(item, index) in fasilitasPerkemahan"
            :key="item.title + index"
            class="flex items-center gap-x-3"
          >
            <NuxtImg src="/assets/vector/detail/checklist.svg" />
            <span>{{ item.title }}</span>
          </li>
        </ul>
      </div>
      <div class="sm:w-[60%] w-full">
        <h3>Fasilitas Umum</h3>
        <ul class="mt-0 xs:mt-0.5 sm:mt-2">
          <li
            v-for="(item, index) in fasilitasUmum"
            :key="item.title + index"
            class="flex items-center gap-x-3"
          >
            <NuxtImg src="/assets/vector/detail/checklist.svg" />
            <span>{{ item.title }}</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>
<script setup lang="ts">
import { fasilitasPerkemahan, fasilitasUmum } from '../../data/index'
</script>
<style scoped lang="postcss">
h3,
h2,
p,
span,
ul {
  @apply mb-0 p-0;
}
h2,
h3 {
  @apply font-semibold;
}
h3,
li span {
  @apply text-sm xs:text-base md:text-lg;
}
li img {
  @apply h-5 w-5;
}
</style>
