<template>
  <div class="px-3 pt-3 pb-2">
    <p class="font-semibold">
      <slot></slot>
    </p>
    <ul>
      <li v-for="(item, index) in props.inputs" :key="item.id + index">
        <span class="flex items-center gap-x-2">
          <input :id="item.id" type="checkbox" />
          <label :for="item.id" v-html="item.title"></label>
        </span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
const props = defineProps<{ inputs: { title: string; id: string }[] }>()
</script>

<style scoped lang="postcss">
ul,
p {
  @apply m-0;
}
</style>
