<template>
  <div class="px-3 pt-3 pb-2">
    <p class="font-semibold">
      <slot name="title"></slot>
    </p>
    <slot name="content"></slot>
  </div>
</template>

<script lang="ts" setup>
</script>

<style scoped lang="postcss">
ul,
p {
  @apply m-0;
}
</style>
