<template>
  <section>
    <section class="flex flex-col gap-y-0.5 md:gap-y-2">
      <div class="flex items-center justify-between flex-wrap">
        <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold">
          Bumi Perkemahan Ledok Ombo
        </h1>
        <span class="flex items-center self-end">
          <i><NuxtImg src="/assets/vector/detail/lot.svg" class="w-3 h-3" /></i>
          <p class="text-red-500 p-0 m-0 text-sm md:text-base">
            Terisa 1 Lahan Kosong
          </p>
        </span>
      </div>
      <div class="flex items-center gap-x-2.5 flex-wrap text-md">
        <p class="flex gap-x-1 xs:items-center items-start">
          <span
            ><NuxtImg src="/assets/vector/detail/gps.svg" class="h-3 w-3 md:w-4 md:h-4 mt-1 xs:mt-0"
          /></span>
          <span class="text-sm md:text-base"
            >Dusun III, Ledok Ombo, Malang, Jawa Timur</span
          >
        </p>
        <p class="flex gap-x-1 items-center">
          <span
            ><NuxtImg src="/assets/vector/detail/mountain.svg" class="h-3 w-3 md:w-4 md:h-4"
          /></span>
          <span class="text-sm md:text-base">870 mdpl</span>
        </p>
      </div>
      <div class="flex items-center justify-between text-md flex-wrap gap-y-2">
        <div class="flex items-center gap-x-3 flex-wrap gap-y-1 md:gap-y-2">
          <p class="flex items-center gap-x-1.5 text-sm md:text-base">
            <span>
              <NuxtImg src="/assets/vector/detail/star.svg" class="h-3 w-3 md:w-4 md:h-4" />
            </span>
            <span>4.0 / 5 (100+ Ulasan)</span>
          </p>
          <p class="flex items-start xs:items-center gap-x-1.5 text-sm md:text-base">
            <span>
              <NuxtImg src="/assets/vector/detail/like.svg" class="h-3 w-3 md:w-4 md:h-4 mt-1 xs:mt-0" />
            </span>
            <span>Direkomendasikan oleh 95% camper</span>
          </p>
        </div>
        <button
          class="flex items-center border-[1px] border-[#CFCFCF] px-2 py-1 gap-x-1 md:gap-x-2"
        >
          <NuxtImg src="/assets/vector/detail/share.svg" class="h-3 w-3 md:w-4 md:h-4" />
          <span class="font-semibold text-sm md:text-base">Bagikan</span>
        </button>
      </div>
    </section>
  </section>
</template>
<style scoped lang="postcss">
p,
span,
h1 {
  @apply m-0;
}
</style>
