<template>
  <section class="flex flex-col gap-y-2 sm:gap-y-3 md:gap-y-5">
    <div
      class="grid grid-cols-3 h-[50vh] md:h-[70vh] lg:h-[80vh] grid-rows-2 gap-3 relative"
    >
      <DialogPhotoContainerHero :img-url="imgUrl" />
      <div class="md:col-span-2 col-span-3 row-span-2 col-start-1">
        <NuxtImg
          src="/assets/img/detail/image-1.jpeg"
          class="w-full h-full object-cover"
        />
      </div>
      <div>
        <NuxtImg
          src="/assets/img/detail/image-a.jpeg"
          class="w-full h-full object-cover hidden md:inline-block"
        />
      </div>
      <div class="col-end-4 row-span-1">
        <NuxtImg
          src="/assets/img/detail/image-b.jpeg"
          class="w-full h-full object-cover hidden md:inline-block"
        />
      </div>
    </div>
    <p class="text-sm xs:text-base lg:text-lg">
      Saksikan matahari terbit dan terbenam di balik pegunungan, melihat
      hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan riak air
      yang jernih dari sungai yang mengalir hanya 30 menit dari pusat Kota
      Malang.
    </p>
    <NuxtLink class="flex items-center gap-x-1 mt-0.5">
      <span class="text-xs sm:text-sm underline underline-offset-4">Lihat Semua</span>
      <NuxtImg src="/assets/vector/detail/right-arrow.svg" class="w-4 h-4" />
    </NuxtLink>
    <div class="mt-0.5">
      <p class="text-sm sm:text-base">View</p>
      <div class="flex items-center gap-x-1 sm:gap-x-3 mt-2 flex-wrap gap-y-2 sm:gap-y-3">
        <DetailButtonView class="border-[#B6B6B6]">
          <template #img>
            <NuxtImg
              src="/assets/vector/detail/green-tent.svg"
              class="sm:w-5 sm:h-5 w-4 h-4"
            />
          </template>
          <template #text>
            <span class="text-[#3D3D3D] text-xs sm:text-sm">View Pegunungan</span>
          </template>
        </DetailButtonView>
        <DetailButtonView class="border-[#064635] bg-[#064635]">
          <template #img>
            <NuxtImg
              src="/assets/vector/detail/white-tent.svg"
              class="sm:w-5 sm:h-5 w-4 h-4"
            />
          </template>
          <template #text>
            <span class="text-[#FFF]  text-xs sm:text-sm">View Pegunungan</span>
          </template>
        </DetailButtonView>
        <DetailButtonView class="border-[#B6B6B6]">
          <template #img>
            <NuxtImg
              src="/assets/vector/detail/green-tent.svg"
              class="sm:w-5 sm:h-5 w-4 h-4"
            />
          </template>
          <template #text>
            <span class="text-[#3D3D3D]  text-xs sm:text-sm">View Pegunungan</span>
          </template>
        </DetailButtonView>
      </div>
    </div>
  </section>
</template>
<script setup lang="ts">
const imgUrl = ref([
  '/assets/img/detail/image-1.jpeg',
  '/assets/img/detail/image-a.jpeg',
  '/assets/img/detail/image-b.jpeg'
])
</script>
<style scoped lang="postcss">
a,
span,
p {
  @apply mb-0 p-0;
}
</style>
