<template>
  <section class="pt-5 md:pt-8 lg:pt-10">
    <h2 class="text-2xl md:text-3xl font-semibold">Lokasi</h2>
    <p
      class="flex text-sm sm:text-base md:text-lg items-start xs:items-center gap-x-1.5 mt-1.5"
    >
      <span>
        <NuxtImg
          src="/assets/vector/detail/gps.svg"
          class="w-5 h-5 xs:mt-0 mt-1"
        />
      </span>
      <span
        >Dusun III, Ledok Ombo, Kabupaten Malang, Jawa Timur, Indonesia</span
      >
    </p>
    <section class="mt-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.457712031084!2d112.81428847455818!3d-8.054705280466258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd63b4a00c5ca99%3A0x9af6106ef57a924b!2sBumi%20Perkemahan%20Ledok%20Ombo%2C%20Poncokusumo!5e0!3m2!1sen!2sid!4v1709350836565!5m2!1sen!2sid"
        class="h-[300px] sm:h-[350px] md:h-[450px] w-full"
        style="border: 0"
        allowfullscreen="true"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>
    <section
      class="mt-3 gap-y-5 sm:mt-5 md:mt-8 flex w-[90%] mx-auto 2xl:gap-x-32 xl:gap-x-20 md:gap-x-10 gap-x-5 flex-wrap md:flex-row flex-col"
    >
      <DetailAccomodation class="flex-1">
        <template #title> Pergi Kesana </template>
        <template #list>
          <li
            v-for="(item, index) in pergiKesana"
            :key="item.vehicleType + index"
          >
            <DetailPergiKesana
              :key="item.vehicleType + index"
              :img-icon="item.imgIcon"
              :vehicle-type="item.vehicleType"
              :link-map="item.linkMap"
              :hour-estimation="item.hourEstimation"
            />
          </li>
        </template>
      </DetailAccomodation>
      <DetailAccomodation class="flex-1">
        <template #title> Restauran Terdekat </template>
        <template #list>
          <li
            v-for="(item, index) in restaurantTerdekat"
            :key="item.place + index"
          >
            <DetailRestaurantTerdekat
              :key="item.place + index"
              :place="item.place"
              :star-count="item.starCount"
              :review-count="item.reviewCount"
              :estimation="item.estimation"
              :vehicle-type="item.vehicleType"
            />
          </li>
        </template>
      </DetailAccomodation>
      <DetailAccomodation class="flex-1">
        <template #title>Wisata Terdekat</template>
        <template #list>
          <li v-for="(item, index) in wisataTerdekat" :key="item.place + index">
            <DetailWisataTerdekat
              :key="item.place + index"
              :place="item.place"
              :review-count="item.reviewCount"
              :estimation="item.estimation"
              :star-count="item.starCount"
              :vehicle-type="item.vehicleType"
            />
          </li>
        </template>
      </DetailAccomodation>
    </section>
    <NuxtLink
      target="_blank"
      class="text-white px-3 py-2.5 block mx-auto w-fit mt-4 md:mt-5 lg:mt-8 text-sm md:text-base rounded-md bg-primary"
      href="https://maps.google.com/maps/dir//Bumi+Perkemahan+Ledok+Ombo,+Poncokusumo+Dusun+III,+Poncokusumo+Malang+Regency+East+Java+65157/@-8.0547106,112.8168634,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x2dd63b4a00c5ca99:0x9af6106ef57a924b"
    >
      Lihat Semua Lokasi di Peta
    </NuxtLink>
  </section>
</template>
<script setup lang="ts">
import { pergiKesana, restaurantTerdekat, wisataTerdekat } from '~/data'
</script>
<style scoped lang="postcss">
h2,
p {
  @apply mb-0;
}
</style>
