<template>
  <section class="pt-4 md:pt-5 lg:pt-7">
    <h2 class="text-2xl md:text-3xl mb-0 font-semibold">Pilih Paket</h2>
    <section class="mt-3 sm:mt-5 md:mt-8 lg:mt-10 sm:pl-3 pl-0">
      <ul class="flex flex-col gap-y-7">
        <li v-for="item in paketWisata" :key="item.id">
          <DetailPaket
            :id="item.id"
            :benefit="item.benefit"
            :capacity="item.capacity"
            :images-url="item.imagesUrl"
            :packet-type="item.packetType"
            :price="item.price"
            :terms-condition="item.termsCondition"
            :include="item.include"
          />
        </li>
      </ul>
    </section>
  </section>
</template>
<script setup lang="ts">
import { paketWisata } from '~/data'
</script>
