<template>
  <div class="p-1 md:p-3 shadow-lg rounded-sm">
    <h2 class="text-lg md:text-xl font-bold capitalize">
      Paket {{ props.packetType }}
    </h2>
    <figure
      class="flex items-start gap-x-7 flex-wrap lg:flex-row flex-col gap-y-4 lg:gap-y-0"
    >
      <div
        class="flex-1 grid relative lg:grid-cols-2 grid-cols-3 grid-rows-2 gap-2 lg:max-w-64 max-w-none max-h-[40vh] sm:max-h-[50vh] md:max-h-[60vh] lg:max-h-[40vh]"
      >
        <DialogPhotoContainerHero :img-url="imgUrl">
          <template #btn="{ openModal }">
            <button
              type="button"
              class="rounded-lg sm:hidden block p-2 right-3 bottom-3 md:bottom-3 absolute bg-[#B9B6B6CC]"
              @click="openModal"
            >
              <span class="flex items-center gap-x-2">
                <div class="bg-[#D9D9D9] md:h-5 h-3 w-4 md:w-6"></div>
                <p class="text-white md:text-base sm:text-sm text-xs">
                  Lihat semua foto
                </p>
              </span>
            </button>
          </template>
        </DialogPhotoContainerHero>

        <div
          class="lg:col-span-2 sm:col-span-2 col-span-3 lg:row-span-1 row-span-2 w-full rounded-lg overflow-clip"
        >
          <NuxtImg
            :src="props.imagesUrl[0]"
            class="w-full h-full object-cover"
          />
        </div>
        <div
          class="row-span-1 col-span-1 h-full hidden sm:block object-cover rounded-lg overflow-clip"
        >
          <NuxtImg
            :src="props.imagesUrl[1]"
            class="w-full h-full object-cover"
          />
        </div>
        <div
          class="row-span-1 col-span-1 h-full hidden sm:block object-cover rounded-lg overflow-clip"
        >
          <NuxtImg
            :src="props.imagesUrl[2]"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
      <figcaption class="flex-1 w-full">
        <div>
          <h3>Paket {{ props.packetType }}</h3>
          <span
            class="flex items-center gap-x-1.5 pt-1 pb-2.5 border-b-[1.5px] border-b-[#CFCFCF]"
          >
            <NuxtImg
              src="/assets/vector/detail/green-tent.svg"
              class="w-6 h-6"
            />
            <p>
              {{
                props.capacity.to
                  ? `${props.capacity.from} - ${props.capacity.to}`
                  : props.capacity.from
              }}

              Orang
            </p>
          </span>
        </div>
        <div class="flex items-start justify-between flex-wrap gap-1 md:gap-3 w-full">
          <div>
            <h3>Benefit</h3>
            <ul class="flex flex-col gap-y-1 mt-2">
              <li
                v-for="(item, index) in props.benefit"
                :key="item + index"
                class="flex items-center gap-x-1.5"
              >
                <NuxtImg
                  src="/assets/vector/detail/checklist.svg"
                  class="w-4 h-4"
                />
                <span class="text-sm">{{ item }}</span>
              </li>
            </ul>
          </div>
          <div>
            <h3>Syarat & Ketentuan</h3>
            <ul class="flex flex-col gap-y-1 mt-2">
              <li
                v-for="(item, index) in props.termsCondition"
                :key="item + index"
                class="flex items-center gap-x-1.5"
              >
                <NuxtImg
                  src="/assets/vector/detail/cross-x.svg"
                  class="w-5 h-5"
                />
                <span class="text-sm">{{ item }}</span>
              </li>
              <li class="flex items-center gap-x-1">
                <NuxtImg src="/assets/vector/detail/term.svg" class="w-5 h-5" />
                <span class="text-sm">
                  <NuxtLink>Baca Kebijakan Pembatalan</NuxtLink>
                </span>
              </li>
            </ul>
          </div>
          <div class="md:w-fit w-full sm:max-w-xs max-w-none">
            <div
              class="sm:flex-col flex-row flex w-full justify-between xs:items-start items-center"
            >
              <h3>Harga permalam</h3>
              <div>
                <div>
                  <p class="text-end text-sm sm:text-base">
                    Rp{{ props.price.originalPrice.toLocaleString('id-ID') }}
                  </p>
                </div>
                <p
                  class="text-end text-2xl md:text-3xl text-gold font-semibold"
                >
                  Rp{{ props.price.discountPrice.toLocaleString('id-ID') }}
                </p>
              </div>
            </div>
            <button class="text-white bg-primary text-base w-full py-2 mt-4">
              Pesan
            </button>
          </div>
        </div>
      </figcaption>
    </figure>
    <div class="flex mt-5">
      <div class="md:w-1/2 w-full">
        <h4 class="text-lg font-semibold">Include</h4>
        <ul class="flex flex-wrap gap-x-5 gap-y-2 mt-2 pl-2 mb-0">
          <li v-for="(item, index) in props.include" :key="item + index">
            <span class="flex gap-x-1 items-center">
              <NuxtImg
                src="/assets/vector/detail/green-tent.svg"
                class="w-6 h-6"
              />
              <p class="text-sm">{{ item }}</p>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
interface PaketType {
  id: number
  packetType: string
  benefit: string[]
  termsCondition: string[]
  price: {
    originalPrice: number
    discountPrice: number
  }
  include: string[]
  capacity: {
    from: number
    to?: number
  }
  imagesUrl: string[]
}
const props = defineProps<PaketType>()
const imgUrl = [
  '/assets/img/detail/img-1.jpeg',
  '/assets/img/detail/img-2.jpeg',
  '/assets/img/detail/img-3.jpeg'
]
</script>
<style scoped lang="postcss">
p,
span,
h4,
h3 {
  @apply m-0;
}

h3 {
  @apply capitalize font-bold text-lg;
}
</style>
