<template>
  <div class="flex items-start justify-between flex-wrap">
    <div class="flex items-start gap-x-2">
      <NuxtImg :src="props.imgIcon" class="sm:w-4 sm:h-4 h-3 w-3  mt-1.5" />
      <div>
        <p class="text-sm sm:text-base">{{ props.vehicleType }}</p>
        <NuxtLink
          :href="props.linkMap"
          class="text-primary-grey text-xs sm:text-sm pb-1 border-b-[1px] border-b-primary-grey border-dashed"
          >Lihat peta</NuxtLink
        >
      </div>
    </div>
    <span class="flex items-center gap-x-1">
      <NuxtImg src="/assets/vector/detail/clock.svg" class="sm:w-4 sm:h-4 h-3 w-3" />
      <p class="text-xs sm:text-sm text-primary-grey ">
        {{ props.hourEstimation.hourStart }} -
        {{ props.hourEstimation.hourEnd }} Jam
      </p>
    </span>
  </div>
</template>
<script setup lang="ts">
interface PergiKesanaType {
  imgIcon: string
  vehicleType: string
  linkMap: string
  hourEstimation: {
    hourStart: number
    hourEnd: number
  }
}

const props = defineProps<PergiKesanaType>()
</script>
<style scoped lang="postcss">
p,
a,
span {
  @apply mb-0;
}
</style>
