<template>
  <section>
    <h2 class="text-2xl mb-0 lg:text-3xl font-semibold text-center">
      Pertanyaan Seputar Bumi Perkemahan Ledok Ombo
    </h2>
    <section class="mt-4 md:mt-6 lg:mt-10">
      <ul class="flex flex-col gap-y-1">
        <DetailDropDown
          v-for="(item, index) in questionsAnswers"
          :id="item.id"
          :key="item.id"
          :answer="item.answer"
          :question="item.question"
          :is-active="indexActive === index"
          :index="index"
          @handle-click="handleClick"
        />
      </ul>
    </section>
    <button
      class="bg-primary text-[#F2F2F2] text-sm md:text-base w-fit mx-auto px-5 py-2 block mt-5 md:mt-6 lg:mt-9"
    >
      Lihat Semua FAQs
    </button>
  </section>
</template>

<script lang="ts" setup>
import { questionsAnswers } from '~/data'
const indexActive = ref(-1)
function handleClick(index: number) {
  if (indexActive.value === index) {
    indexActive.value = -1
  } else {
    indexActive.value = index
  }
}
</script>

<style scoped lang="postcss"></style>
