<template>
  <div class="flex gap-x-2 items-start">
    <NuxtImg src="/assets/vector/detail/resto.svg" class="sm:w-5 w-4 h-4 sm:h-5 mt-0.5" />
    <div class="flex flex-col gap-y-0.5 md:gap-y-1.5">
      <h3 class="text-sm sm:text-base">{{ props.place }}</h3>
      <span class="flex items-center gap-x-1.5 flex-wrap">
        <ul class="flex items-center xl:gap-x-2 2xl:gap-x-3 gap-x-1">
          <li v-for="(item, index) in starCount" :key="index">
            <NuxtImg
              src="/assets/vector/detail/star.svg"
              class="lg:w-5 lg:h-5 md:h-4 md:w-4 h-3 w-3"
            />
          </li>
          <li v-for="(item, index) in 5 - starCount" :key="index">
            <NuxtImg
              src="/assets/vector/detail/grey-star.svg"
              class="lg:w-5 lg:h-5 md:h-4 md:w-4 h-3 w-3"
            />
          </li>
        </ul>
        <p class="text-primary-grey text-sm sm:text-base m-0">
          {{ props.reviewCount }} Review
        </p>
      </span>
      <span class="flex items-center gap-x-1.5 text-base">
        <NuxtImg
          v-if="props.vehicleType === VehicleType.Walk"
          src="/assets/vector/detail/walk.svg"
          class="w-4 h-4"
        />
        <NuxtImg
          v-else-if="props.vehicleType === VehicleType.Car"
          src="/assets/vector/detail/car.svg"
          class="sm:w-4 sm:h-4 w-3 h-4"
        />
        <p class="text-primary-grey text-sm sm:text-base">
          <span> {{ props.estimation + ' ' }} </span>
          <span>{{
            props.vehicleType === VehicleType.Walk ? 'Menit' : 'Jam'
          }}</span>
        </p>
      </span>
    </div>
  </div>
</template>
<script setup lang="ts">
// eslint-disable-next-line no-unused-vars
enum VehicleType {
  // eslint-disable-next-line no-unused-vars
  Car,
  // eslint-disable-next-line no-unused-vars
  Walk
}
interface RestaurantTerdekatType {
  place: string
  starCount: number
  reviewCount: number
  estimation: number
  vehicleType: VehicleType
}
const props = defineProps<RestaurantTerdekatType>()
</script>
<style scoped lang="postcss">
h3,
p,
span,
ul {
  @apply m-0 p-0;
}
</style>
