<template>
  <div class="flex items-center gap-x-2">
    <NuxtImg
      v-for="item in props.starCount"
      :key="item"
      src="/assets/vector/detail/star.svg"
      class="w-5 h-5"
    />
    <NuxtImg
      v-for="item in 5 - props.starCount"
      :key="item"
      src="/assets/vector/detail/grey-star.svg"
      class="w-5 h-5"
    />
  </div>
</template>

<script lang="ts" setup>
const props = defineProps<{ starCount: number }>()
</script>

<style></style>
