<template>
  <ul class="flex flex-col gap-y-2.5 mt-1.5 pb-1">
    <li v-for="(_, index) in ratingRef" :key="index">
      <span class="flex items-center gap-x-2">
        <input :id="5 - index + '_star'" type="checkbox" />
        <label :for="5 - index + '_star'">
          <DetailStarContainer :star-count="5 - index" />
        </label>
      </span>
    </li>
  </ul>
</template>

<script lang="ts" setup>
const ratingRef = ref(5)
</script>

<style></style>
