<template>
  <section
    class="py-5 sm:py-8 md:py-10 lg:py-14 flex lg:items-end lg:gap-x-10 gap-x-5 lg:flex-row flex-col gap-y-3 md:gap-y-4 lg:gap-y-5"
  >
    <section>
      <div>
        <h2
          class="mb-0 text-xl lg:text-2xl font-semibold text-center lg:text-start"
        >
          Ulasan Pengunjung
        </h2>
        <div
          class="flex items-end pl-8 text-center lg:justify-start justify-center"
        >
          <span class="flex items-center my-0 md:my-2">
            <NuxtImg
              src="/assets/vector/detail/star.svg"
              class="lg:h-14 md:h-12 md:w-12 w-10 h-10 lg:w-14"
            />
            <p class="text-6xl sm:text-7xl lg:text-8xl mb-0 font-bold">
              {{ ulasanPengunjungTotal.star }}.0
            </p>
          </span>
          <span class="text-[#868686] mb-0">/ 5.0</span>
        </div>
        <h3
          class="text-xl md:text-2xl font-semibold my-1 md:my-3 text-center lg:text-start"
        >
          {{ ulasanPengunjungTotal.percentage }}% Pengunjung Merasa Puas
        </h3>
        <p class="text-center text-base md:text-lg">
          Berdasarkan
          <span class="font-bold">{{ ulasanPengunjungTotal.ulasanCount }}</span>
          Ulasan
        </p>
      </div>
      <ul class="mt-3 mt:mt-6 lg:mt-7 flex flex-col gap-y-2">
        <li class="flex items-center text-lg gap-x-3">
          <NuxtImg src="/assets/vector/detail/star.svg" class="w-6 h-6" />
          <span>5</span>
          <div
            class="relative rounded-full h-3 flex-1 bg-[#D9D9D9] overflow-clip"
          >
            <div
              class="h-3 top-0 bottom-0 absolute bg-primary rounded-r-full"
              :style="{
                width: `${Math.floor((ulasanPengunjungTotal.starCount[5] / ulasanPengunjungTotal.ulasanCount) * 100)}%`
              }"
            ></div>
          </div>
          <span>{{ ulasanPengunjungTotal.starCount[5] }}</span>
        </li>
        <li class="flex items-center text-lg gap-x-3">
          <NuxtImg src="/assets/vector/detail/star.svg" class="w-6 h-6" />
          <span>4</span>
          <div
            class="relative rounded-full h-3 flex-1 bg-[#D9D9D9] overflow-clip"
          >
            <div
              class="h-3 top-0 bottom-0 absolute bg-primary rounded-r-full"
              :style="{
                width: `${Math.floor((ulasanPengunjungTotal.starCount[4] / ulasanPengunjungTotal.ulasanCount) * 100)}%`
              }"
            ></div>
          </div>
          <span>{{ ulasanPengunjungTotal.starCount[4] }}</span>
        </li>
        <li class="flex items-center text-lg gap-x-3">
          <NuxtImg src="/assets/vector/detail/star.svg" class="w-6 h-6" />
          <span>3</span>
          <div
            class="relative rounded-full h-3 flex-1 bg-[#D9D9D9] overflow-clip"
          >
            <div
              class="h-3 top-0 bottom-0 absolute bg-primary rounded-r-full"
              :style="{
                width: `${Math.floor((ulasanPengunjungTotal.starCount[3] / ulasanPengunjungTotal.ulasanCount) * 100)}%`
              }"
            ></div>
          </div>
          <span>{{ ulasanPengunjungTotal.starCount[3] }}</span>
        </li>
        <li class="flex items-center text-lg gap-x-3">
          <NuxtImg src="/assets/vector/detail/star.svg" class="w-6 h-6" />
          <span>2</span>
          <div
            class="relative rounded-full h-3 flex-1 bg-[#D9D9D9] overflow-clip"
          >
            <div
              class="h-3 top-0 bottom-0 absolute bg-primary rounded-r-full"
              :style="{
                width: `${Math.floor((ulasanPengunjungTotal.starCount[2] / ulasanPengunjungTotal.ulasanCount) * 100)}%`
              }"
            ></div>
          </div>
          <span>{{ ulasanPengunjungTotal.starCount[2] }}</span>
        </li>
        <li class="flex items-center text-lg gap-x-3">
          <NuxtImg src="/assets/vector/detail/star.svg" class="w-6 h-6" />
          <span>1</span>
          <div
            class="relative rounded-full h-3 flex-1 bg-[#D9D9D9] overflow-clip"
          >
            <div
              class="h-3 top-0 bottom-0 absolute bg-primary rounded-r-full"
              :style="{
                width: `${Math.floor((ulasanPengunjungTotal.starCount[1] / ulasanPengunjungTotal.ulasanCount) * 100)}%`
              }"
            ></div>
          </div>
          <span>{{ ulasanPengunjungTotal.starCount[1] }}</span>
        </li>
      </ul>
      <div class="block lg:hidden">
        <DialogFilterUlasan />
      </div>
      <div class="hidden lg:block mt-8">
        <FormFilterUlasan />
      </div>
    </section>
    <section class="flex-1">
      <div class="flex items-center justify-between flex-wrap">
        <h3 class="text-xl lg:text-2xl font-semibold mb-0">Ulasan Pengunjung</h3>
        <div class="flex items-center gap-x-5">
          <label class="sort text-base lg:text-lg font-semibold">Urutkan</label>
          <select
            id="sorting"
            class="flex cursor-pointer items-center px-1 md:px-2 text-[#9E9E9E] outline-none py-1 md:py-2 border-[1.5px] border-[#9E9E9E] rounded-lg"
          >
            <option selected value="latest">Terbaru</option>
            <option value="oldest">Terlama</option>
            <option value="atoz">A - Z</option>
          </select>
        </div>
      </div>
      <section class="flex flex-col gap-y-7 mt-5 lg:mt-3">
        <DetailUlasanPengunjungCard
          v-for="item in ulasanPengunjung"
          :key="item.name"
          :comment="item.comment"
          :images-url="item.imagesUrl"
          :name="item.name"
          :profile-pic="item.profilePic"
          :picked-packet="item.pickedPacket"
          :rating="item.rating"
          :recomend-status="item.recomendStatus"
          :status-traveler="item.statusTraveler"
        />
      </section>
      <div
        class="flex items-center justify-center sm:gap-x-0 gap-x-5 md:gap-x-0 sm:justify-between lg:w-full lg:ml-0 md:ml-auto ml-0 w-full md:w-[60%] mt-5 flex-wrap gap-y-1"
      >
        <vue-awesome-paginate
          v-model="currentPage"
          class="mb-0"
          :total-items="50"
          :items-per-page="5"
          :max-pages-shown="5"
          :on-click="onClickHandler"
        >
          <template #prev-button>
            <span>
              <NuxtImg height="25" src="/assets/vector/detail/left-arr.svg" />
            </span>
          </template>
          <template #next-button>
            <span>
              <NuxtImg height="25" src="/assets/vector/detail/right-arr.svg" />
            </span>
          </template>
        </vue-awesome-paginate>
        <NuxtLink href="/" class="font-bold text-primary"
          >Lihat semua ulasan</NuxtLink
        >
      </div>
    </section>
  </section>
</template>

<script lang="ts" setup>
import { ulasanPengunjungTotal, ulasanPengunjung } from '~/data'
const onClickHandler = (page: number) => {}

const currentPage = ref(1)
</script>

<style lang="css">
#sorting option {
  color: #726868;
}
.pagination-container {
  display: flex;
  column-gap: 5px;
}
.paginate-buttons {
  height: 25px;
  width: 25px;
  cursor: pointer;
  color: #064635;
  border-radius: unset !important;
}
.paginate-buttons:hover {
  background-color: #d8d8d8;
}
.active-page {
  border-bottom: 1px solid #064635;
  color: #064635;
  font-weight: bold;
}
</style>
