<template>
  <form
    class="flex flex-col divide-y divide-[#CFCFCF] border-[1.5px] border-[#CFCFCF] rounded-md"
  >
    <h2 class="px-3 py-2">Filter Ulasan</h2>

    <DetailFilterCheckbox
      :inputs="[{ title: 'Dengan Foto & Video', id: 'foto_video' }]"
      >Media</DetailFilterCheckbox
    >
    <DetailFilterCheckbox
      :inputs="[
        { title: 'Solo Traveler', id: 'solo_traveler' },
        { id: 'Family_Traveler', title: 'Family Traveler' },
        { id: 'Beginer_Traveler', title: 'Beginer Traveler' }
      ]"
      >Camper</DetailFilterCheckbox
    >
    <DetailFilterCheckbox
      :inputs="[
        { title: 'Solo Traveler', id: 'Solo_Traveler' },
        { title: 'Family Traveler', id: 'Family_Traveler' },
        { title: 'Beginer Traveler', id: 'Beginer_Traveler' }
      ]"
    >
      Paket</DetailFilterCheckbox
    >
    <DetailFilterCheckboxSlot>
      <template #title>Rating</template>
      <template #content>
        <DetailStarsWrapper />
      </template>
    </DetailFilterCheckboxSlot>
  </form>
</template>

<script lang="ts" setup></script>

<style></style>
