@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }
  button {
    @apply rounded-md overflow-clip;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply mb-0;
  }
}
