<template>
  <ClientOnly>
    <Popover class="relative w-full">
      <PopoverButton
        class="flex items-center outline-none justify-between bg-white py-2.5 border-[1px] border-gray-400 lg:px-3 px-1.5 w-full"
      >
        <span class="flex items-center md:gap-x-2 gap-x-0">
          <NuxtImg
            src="/assets/vector/person.svg"
            class="md:w-5 md:h-5 h-4 w-4"
          />
          <span class="font-bold m-0 lg:text-base text-sm"
            >{{ props.dewasaCount }} Dewasa</span
          >
        </span>
        <NuxtImg src="/assets/vector/arrow-down.svg" class="w-4 h-4" />
      </PopoverButton>
      <transition
        enter-active-class="transition duration-200 ease-out"
        enter-from-class="translate-y-1 opacity-0"
        enter-to-class="translate-y-0 opacity-100"
        leave-active-class="transition duration-150 ease-in"
        leave-from-class="translate-y-0 opacity-100"
        leave-to-class="translate-y-1 opacity-0"
      >
        <PopoverPanel
          class="absolute z-10 w-52 right-0 mt-1 flex items-center bg-white rounded-lg px-4 py-3 shadow-md"
        >
          <div class="flex items-center justify-between w-full">
            <p class="m-0">{{ dewasaCount }} Dewasa</p>
            <div class="flex items-center gap-x-1">
              <button
                :disabled="dewasaCount === 1"
                class="text-2xl"
                @click="emit('update-adult-count', props.dewasaCount - 1)"
              >
                -
              </button>
              <button
                :disabled="dewasaCount === 5"
                class="text-2xl"
                @click="emit('update-adult-count', props.dewasaCount + 1)"
              >
                +
              </button>
            </div>
          </div>
        </PopoverPanel>
      </transition>
    </Popover>
  </ClientOnly>
</template>

<script setup lang="ts">
import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue'

const props = defineProps<{ dewasaCount: number }>()

const emit = defineEmits<{
  (e: 'update-adult-count', count: number): void
}>()
</script>
