<template>
  <ul class="items-center gap-x-1 hidden md:flex mb-0">
    <li>
      <NuxtLink>Beranda</NuxtLink>
    </li>
    <span>
      <NuxtImg src="/assets/vector/detail/right-arrow.svg" class="w-3 h-3" />
    </span>
    <li>
      <NuxtLink>Campground</NuxtLink>
    </li>
    <span>
      <NuxtImg src="/assets/vector/detail/right-arrow.svg" class="w-3 h-3" />
    </span>
    <li>
      <NuxtLink>Malang Campground</NuxtLink>
    </li>
    <span>
      <NuxtImg src="/assets/vector/detail/right-arrow.svg" class="w-3 h-3" />
    </span>
    <li>
      <NuxtLink class="">Pesan Bumi Perkemahan Ledok Ombo</NuxtLink>
    </li>
  </ul>
</template>
<style scoped lang="postcss">
ul li:not(:last-child) a {
  @apply text-secondary-grey;
}
ul li a {
  @apply text-sm;
}
</style>
