<template>
  <button class="flex w-full bg-white flex-col py-1 xs:py-0 xs:flex-row h-full items-center lg:px-3 px-1 lg:gap-x-4 gap-x-2">
    <NuxtImg class="lg:w-5 w-4 lg:h-5 h-4" src="/assets/vector/calendar.svg" />
    <div class="flex flex-col items-start ">
      <span class="font-bold text-start xl:text-base text-sm">
        {{ props.date }}
      </span>
      <span class="text-sm">
        {{ props.dayWeek }}
      </span>
    </div>
  </button>
</template>
<script setup lang="ts">
interface CalendarButtonType {
  date: string
  dayWeek: string
}
const props = defineProps<CalendarButtonType>()
</script>
