<template>
  <footer>
    <section
      class="container mx-auto flex flex-wrap items-center justify-between"
    >
      <div class="lg:flex-row flex-col flex lg:items-center items-start gap-y-3 lg:gap-y-0 flex-[1] flex-wrap">
        <div class="lg:w-[35%] w-max ">
          <NuxtImg
            src="/assets/vector/logo.svg"
            class="w-52 h-7 object-cover"
          />
        </div>
        <div class="text-sm w-[65%]">
          <p class="max-w-60">
            Jl. Pejaten Barat II No. 3A Jakarta, Indonesia 12510
          </p>
          <div class="flex text-sm gap-x-3 mt-2 flex-wrap">
            <p>+62 822-4692-6620</p>
            <p>Kemahaja@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-start sm:mt-0 mt-4 sm:items-end gap-y-1.5">
        <p class="text-primary-dark font-semibold">Social Media</p>
        <div id="social" class="flex items-center gap-x-3">
          <NuxtLink>
            <NuxtImg src="/assets/vector/social/insta.svg" />
          </NuxtLink>
          <NuxtLink>
            <NuxtImg src="/assets/vector/social/youtube.svg" />
          </NuxtLink>
          <NuxtLink>
            <NuxtImg src="/assets/vector/social/facebook.svg" />
          </NuxtLink>
          <NuxtLink>
            <NuxtImg src="/assets/vector/social/tiktok.svg" />
          </NuxtLink>
        </div>
      </div>
    </section>
    <section class="bg-primary mt-3 py-1">
      <div class="container mx-auto flex items-center flex-wrap">
        <div class="flex text-white flex-wrap md:ml-auto ml-0 gap-x-5 text-sm">
          <NuxtLink>Syarat dan Ketentuan</NuxtLink>
          <NuxtLink>Kebijakan Pribadi</NuxtLink>
          <NuxtLink>Hubungi Kami</NuxtLink>
        </div>
        <div class="text-white/80 md:ml-auto ml-0">
          <p class="flex m-0 items-center gap-x-1 text-sm">
            Copyright
            <span><NuxtImg src="/assets/vector/c.svg" class="w-3 h-3" /></span>
            KemahAja 2023
          </p>
        </div>
      </div>
    </section>
  </footer>
</template>
<style scoped lang="postcss">
p {
  @apply m-0;
}
#social img {
  @apply w-6 h-6 object-contain;
}
</style>
