<script setup lang="ts">
import { defineComponent } from 'vue';

defineComponent({
  name: 'IconParkTwotoneLike',
});
</script>
<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 48 48">
		<defs>
			<mask id="ipTLike0">
				<path fill="#000" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.85" d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8" />
			</mask>
		</defs>
		<path fill="#d60505" d="M0 0h48v48H0z" mask="url(#ipTLike0)" />
	</svg>
</template>
