<template>
  <aside
    id="sidebar"
    :class="{ 'translate-x-0': isOpenSidebar }"
    class="fixed flex left-0 -translate-x-full transition-all duration-300 flex-col md:-translate-x-full top-0 bottom-0 sm:w-[40%] xs:w-[60%] w-[80%] bg-slate-100 z-50 border-r-[1.5px] border-slate-400"
  >
    <NuxtLink href="/" class="w-full flex p-5">
      <NuxtImg
        src="/assets/vector/logo.svg"
        class="h-7 m-auto object-contain"
      />
    </NuxtLink>
    <div class="flex-1 flex pb-28 md:hidden">
      <NavigationTop class="m-auto" />
    </div>
  </aside>
</template>

<script lang="ts" setup>
const { isOpenSidebar } = inject('sidebar') as { isOpenSidebar: any }
</script>

<style></style>
