<template>
  <nav class="flex gap-x-12 items-center md:flex-row flex-col gap-y-4 text-base text-[#6E6E6E]">
    <NuxtLink href="/">Camping Ground</NuxtLink>
    <NuxtLink href="/">Activity</NuxtLink>
    <NuxtLink href="/">Article</NuxtLink>
    <button class="bg-secondary-green py-1.5 px-7 text-sm text-primary-white">
      Login
    </button>
  </nav>
</template>

<script lang="ts" setup></script>

<style></style>
