<template>
  <section class="py-3 sm:py-5 lg:py-6 mt-5 sm:mt-10 md:mt-12 lg:mt-20">
    <h3 class="text-xl md:text-2xl font-bold text-center md:text-start">
      Camping Ground Terpopuler
    </h3>
    <section
      class="grid justify-items-center grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 xl:grid-cols-4 gap-5 mx-auto"
    >
      <CampingPopulerCard
        v-for="item in campingGroundPopuler"
        :id="item.id"
        :key="item.id"
        :title="item.title"
        :img-url="item.imgUrl"
        :lokasi="item.lokasi"
        :price="item.price"
        :rating="item.rating"
        :status="item.status"
      />
    </section>
  </section>
</template>
<script setup lang="ts">
import { campingGroundPopuler } from '~/data'
</script>
