<template>
  <NuxtLink :href="'/detail-camping/' + props.id">
    <figure class="rounded-xl shadow-lg overflow-clip">
      <div
        class="w-full relative min-h-36 sm:min-h-40 lg:min-h-48 bg-cover"
        :style="`background-image: url(${imgUrl}) ;`"
      >
        <button
          class="absolute right-2 top-2 bg-white/40 backdrop-blur-[1.5px] w-8 h-8 rounded-full flex"
        >
          <i class="m-auto">
            <IconParkTwotoneLike />
          </i>
        </button>
      </div>
      <figcaption class="px-4 py-2.5">
        <div class="flex items-center divide-x-2 justify-between">
          <div class="flex gap-x-1 flex-1 items-center relative">
            <NuxtImg src="/assets/vector/gps.svg" class="w-4 h-4 block" />
            <p class="text-green-darker font-semibold">{{ props.lokasi }}</p>
          </div>
          <div class="flex items-start flex-[0.5] justify-center">
            <span class="flex items-center gap-x-2">
              <NuxtImg src="/assets/vector/star.svg" class="w-4 h-4 block" />
              <p class="text-green-darker text-xl h-fit">
                {{ props.rating }}.0
              </p>
            </span>
          </div>
        </div>
        <h4
          class="text-primary-dark mt-1 md:mt-3 font-bold text-lg md:text-xl xl:text-2xl"
        >
          {{ props.title }}
        </h4>
        <p class="text-gold font-bold mt-2 md:mt-3 lg:mt-5 text-lg md:text-xl xl:text-2xl">
          Rp. {{ props.price.toLocaleString('de-DE') }}
        </p>
        <p class="text-green-darker text-xs sm:text-sm lg:text-base">{{ props.status }}</p>
      </figcaption>
    </figure>
  </NuxtLink>
</template>
<script setup lang="ts">
interface CampingGroundPopulerType {
  id: number
  lokasi: string
  rating: number
  title: string
  price: number
  status: string
  imgUrl: string
}
const props = defineProps<CampingGroundPopulerType>()
</script>
<style scoped lang="postcss">
p,
span,
h4 {
  @apply mb-0;
}
</style>
