<template>
  <section class="relative">
    <button
      class="after:!content-none z-50  left-0 !top-[50%] -translate-y-[50%] swiper-button-prev"
    >
      <NuxtImg class="w-6 h-10" src="/assets/vector/left-arrow.svg" />
    </button>
    <button
      class="z-50 after:!content-none right-0 !top-[50%] -translate-y-[50%] swiper-button-next"
    >
      <NuxtImg class="w-6 h-10" src="/assets/vector/right-arrow.svg" />
    </button>
    <Swiper
      :slides-per-view="1"
      :breakpoints="{
        768: {
          slidesPerView: 2
        },
        1024: {
          slidesPerView: 3
        },
        1280: {
          slidesPerView: 5
        }
      }"
      :navigation="{
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }"
      :loop="true"
      :space-between="10"
    >
      <SwiperSlide v-for="item in campingTopIndonesia" :key="item.id">
        <CampingTopCampingIndonesiaCard
          :id="item.id"
          :count-number="item.countNumber"
          :img-url="item.imgUrl"
          :place="item.place"
        />
      </SwiperSlide>
    </Swiper>
  </section>
</template>

<script lang="ts" setup>
import { campingTopIndonesia } from '~/data/index'
</script>

<style></style>
