<template>
  <figure
    class="relative max-w-xs rounded-xl overflow-clip flex flex-col items-center p-2.5 md:p-4 mx-auto"
  >
    <NuxtImg :src="props.imgUrl" class="w-44 h-44 object-cover rounded-full" />
    <figcaption class="flex flex-col items-center mt-2">
      <p
        class="font-bold capitalize m-0 text-center text-xl md:text-2xl text-primary-dark"
      >
        {{ props.place }}
      </p>
      <div class="text-secondary-grey mt-1.5">
        <p class="text-center sm:text-base text-sm">{{ props.countNumber }}</p>
        <p class="text-center sm:text-base text-sm">Tempat</p>
      </div>
    </figcaption>
  </figure>
</template>
<script setup lang="ts">
interface TopCampingIndonesiaType {
  place: string
  countNumber: number
  imgUrl: string
  id: number
}
const props = defineProps<TopCampingIndonesiaType>()
</script>
<style scoped lang="postcss">
span,
p {
  @apply mb-0;
}
</style>
