<template>
  <section class="py-3 md:py-4 lg:py-6 mt-3 md:mt-8 lg:mt-12">
    <h3 class="text-xl md:text-2xl my-0 font-bold text-center lg:text-start">
      Top Camping di Indonesia
    </h3>
    <CampingSliderCardContainer />
  </section>
</template>

<script setup lang="ts"></script>
