<template>
  <div >
    <Header />
    <slot />
    <Footer class="mt-10" />
  </div>
</template>

<script setup lang="ts">
const isOpenSidebar = ref(false)
function toggleSidebar() {
  isOpenSidebar.value = !isOpenSidebar.value
}
provide('sidebar', { isOpenSidebar, toggleSidebar })
onMounted(() => {
  const sidebar = document.querySelector('#sidebar')
  const hum = document.querySelector('#hum')
  window.addEventListener('click', el => {
    if (!sidebar.contains(el.target) && !hum.contains(el.target)) {
      isOpenSidebar.value = false
    }
  })
})
</script>
