<template>
  <main class="pt-4 lg:pt-6">
    <div class="container mx-auto">
      <div class="my-4 md:my-5 lg:my-6">
        <h1 class="font-bold text-center text-2xl sm:text-3xl lg:text-4xl mb-2">Siap Untuk Camping?</h1>
        <h2 class="text-sm sm:text-base text-center">
          Mari nikmati petualangan seru di tengah alam terbuka dan rasa
          kedamaian yang sulit ditemukan di kota.
        </h2>
      </div>
      <CampingPopulerContainer />
      <CampingTopCampingIndonesiaContainer />
    </div>
  </main>
</template>

<script setup lang="ts">
import { register } from 'swiper/element/bundle'
register()
useHead({
  title: 'KemahAja'
})
</script>
