<template>
  <main class="container mx-auto">
    <BreadCrumbs />
    <DetailHeadTitle class="mt-2 lg:mt-5" />
    <DetailHeroImage class="mt-5" />
    <DetailFasilitas class="mt-5" />
    <DetailLokasi class="mt-2 md:mt-5" />
    <DetailPaketContainer class="mt-2 md:mt-5" />
    <DetailUlasanPengunjung class="mt-2 md:mt-5" />
    <DetailQuestionAnswer class="mt-2 sm:mt-6 md:mt-8 lg:mt-10" />
    <DetailCampingGround class="mt-4 md:mt-6 lg:mt-8" />
  </main>
</template>
<script setup lang="ts">
import { register } from 'swiper/element/bundle'
const route = useRoute()
register()
useHead({
  title: `KemahAja | Detail Camping | ${route.params.id}`
})
</script>
